P{
    color:aqua;
 
}
h1{
    text-decoration: dashed;
    border-width: 10px;
    color:blueviolet;
}
img{
    width: 250px;
}
header{
    background-color:rgb(222, 135, 176);
    border-color: palevioletred;
}
section{
    background-color: blueviolet;
        width: 300px;
        border: 15px solid palevioletred;
        padding: 50px;
        margin: 20px;
    }
nav{
    width: 300px;
        border: 15px solid palevioletred;
        padding: 50px;
        margin: 20px;
    background-color:blueviolet;
    border-color: crimson;
}